// Main Header
// ---------------------------------------

.main-header {
  padding: 3em 0em 4.2em 0em;
  background: linear-gradient(to top right, $headerColourDark,$headerColourLight);
  margin-bottom: 3rem;

  svg {
    float: left;
    z-index: 1;
    position: absolute;
  }

  .main-header__content {
    color: $white;
  }

  .main-header__content h1, .main-header__content h2 {
    color: $white!important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -webkit-font-smoothing: antialiased;

  }

  ul.social {
    margin-top: 35px;
  }

  ul.social li {
    list-style: none;
    display: inline;
    margin-right: 15px;
  }

  ul.social li a {
    color: white;
  }

  ul.social li a:after {
    content: '';
  }

  a {
    @include breakpoint(break-1) {
      font-size: 0.9rem;
    }
    @include breakpoint(break-4) {
      font-size: 1.2rem;
    }
  }

}
