// Main Header
// ---------------------------------------

.main-header {
  min-height: 600px;
  // background-color: $headerColour;
  background: linear-gradient(to top right, $headerColourDark,$headerColourLight);

  svg {
    float: left;
    z-index: 1;
    position: absolute;
  }

  .main-header__content {
    padding-top: 10rem;
    color: $white;
  }

  .main-header__content h1, .main-header__content h6 {
    color: $white!important;
  }

  ul.social {
    margin-top: 1rem;
    list-style: none;
  }

  ul.social li {
    margin-right: 0.5rem;
    display: inline-block;
  }

}
